
html {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  margin: 0;
}

.contenedor-resto {
  border: 2px solid #333;
  padding: 10px;
}

.box {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: block;
}

.box1 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: inline;
}

.box2 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 150px;
}

/*FLEX BOX ********************/

.box3 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
}

.contenedor {
  border: 2px solid #333;
  padding: 10px;
  display: flex;
  gap: 10px;
}

/*DISPLAY GRID ***************/

.box4 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
}


.contgrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.contenedor-padre {
  align-content: center;
}

.contenedor-alinear {
  background: indigo;
  color: white;
  padding: 2rem;
  width: 300px;
  margin: auto;
  text-align: center;
}

/*ALINEACION CON FLEX ***************/
.contenedor-padre-flex {
  width: 300px;
  background: indigo;
  color: white;
  padding: 2rem;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.contenedor-hijo-flex {
  border: 1px solid #000;
}

/*PRUEBAS JUSTIFY CONTENT ***************/
.flex-box {
  display: flex;
  background-color: #f0f0f0;
  padding: 1rem;
  border: 1px solid #ccc;
  gap: 1rem; /* espacio entre elementos */
}
.box {
  background-color: #0d6efd;
  color: white;
  padding: 1rem;
  text-align: center;
  flex: 0 0 80px; /* ancho fijo */
}

#flexContainerItems {
  display: flex;
  gap: 10px; /* opcional, para separar las cajas */
  border: 1px solid black; /* opcional, para que veas el contenedor */
  height: 150px; /* opcional, necesario para ver el efecto de align-items */
}

#flexContainerContent {
  display: flex;
  flex-wrap: wrap;      /* Necesario para que haya varias filas */
  gap: 10px;            /* Separación entre cajas */
  border: 1px solid black;
  height: 300px;        /* Necesario para notar los cambios en align-content */
}

/*DISPLAY GRID EXTENSO***************/
.contenedor-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  column-gap: 10px;
  row-gap: 15px;
}

/*Ponemos caa hijo de un color para que se distinga*/
.contenedor-grid :nth-child(1) { background: indigo }
.contenedor-grid :nth-child(2) { background: darkred }
.contenedor-grid :nth-child(3) { background: green }
.contenedor-grid :nth-child(4) { background: gold }
.contenedor-grid :nth-child(5) { background: blue }

.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  background: #eee;
  padding: 10px;
}

.grid-auto-fill > div {
  background: teal;
  color: white;
  padding: 20px;
  text-align: center;
}

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  background: #eee;
  padding: 10px;
}

.grid-auto-fit > div {
  background: darkorange;
  color: white;
  padding: 20px;
  text-align: center;
}


/*PARA LA ALINEACION DE ELEMENTOS GRID*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  width: 400px;   /* contenedor más grande que el grid */
  height: 300px;  /* contenedor más alto que el grid */
  border: 2px solid #333;
}

.grid-box {
  background: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*PARA FORMULARIO GRID*/
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* .form-grid label {
  width: 100%;
} */

.form-grid input,
.form-grid textarea {
  width: 100%;
  padding: 8px 12px;
}

.full-width {
  grid-column: 1 / -1; /* Ocupa toda la fila */
  display: flex;
  flex-direction: column;
}