
html {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  margin: 0;
}

.contenedor-resto {
  border: 2px solid #333;
  padding: 10px;
}

.box {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: block;
}

.box1 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: inline;
}

.box2 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 150px;
}

/*FLEX BOX ********************/

.box3 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
}

.contenedor {
  border: 2px solid #333;
  padding: 10px;
  display: flex;
  gap: 10px;
}

/*DISPLAY GRID ***************/

.box4 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
}


.contgrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.contenedor-padre {
  align-content: center;
}

.contenedor-alinear {
  background: indigo;
  color: white;
  padding: 2rem;
  width: 300px;
  margin: auto;
  text-align: center;
}

/*ALINEACION CON FLEX ***************/
.contenedor-padre-flex {
  width: 300px;
  background: indigo;
  color: white;
  padding: 2rem;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.contenedor-hijo-flex {
  border: 1px solid #000;
}