body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.container {
  border: 2px solid #333;
  padding: 10px;
}

.box {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: block;
}

.box1 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: inline;
}

.box2 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 150px;
}

/*FLEX BOX ********************/

.box3 {
  background-color: lightblue;
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
}

.contenedor {
  border: 2px solid #333;
  padding: 10px;
  display: flex;
  gap: 10px;
}